* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.app{
margin: .5rem;
}

#map{
  height: 98vh;
  width: auto;
}

.btns{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.btns button{
  margin: 5px;
  padding: .8rem;
  border-radius: 1rem;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.btns button:hover{
  background-color: #f1f1f1;
  cursor: pointer;
}

.btns .snap{
  background-color: rgb(35, 142, 35);
}

.btns .clear{
  background-color: rgb(247, 100, 77);
}

